#mapid { 
  height: 100vmax;
}

.navbar-light {
  background-color: #e3f2fd;
}
.popup {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
}

#lat, #lng, #coordinateComma {
  display: none;
}

#address {
  flex-grow: 1;
  padding: 2px;
  margin: 2px;
  height: 90px;
  width: 150px;
}

#options {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  height: 50%;
}

#submitButton {
  margin-top: 10px;
}
#arrows {
  padding: 15px 15px 5px 15px;
}






