<!DOCTYPE html>

<html>
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-91404440-2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-91404440-2');
    </script>
    <meta charset="utf-8"/>
    <meta content="initial-scale=1, width=device-width" name="viewport"/>
    <title>BikeRacks</title>
    
    <!-- Leaflet CSS -->
     <link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css"
           integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
           crossorigin=""/>
    
    <!-- Bootstrap CSS --> 
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/css/bootstrap.min.css" rel="stylesheet"/>
    
    <!-- Leaflet GeoSearch CSS -->
    <link href="https://unpkg.com/leaflet-geosearch@2.6.0/assets/css/leaflet.css" rel="stylesheet"/> 
    
    <!-- App's own CSS -->
    <link href="static/styles.css" rel="stylesheet"/>
    
    <!-- Leaflet Marker cluster CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.Default.css" type="text/css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.css" type="text/css">
    
    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.js"
            integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
            crossorigin="anonymous"></script>
            
    <!-- Leaflet JS -->
    <script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"
            integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg=="
            crossorigin=""></script>
            
    
    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/js/bootstrap.bundle.js"></script>
    
    <!-- Font Awesome CSS -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    
    <!-- Leaflet locate CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet.locatecontrol/dist/L.Control.Locate.min.css" />

    
  </head>
  
  <body>

      <!-- Navigation Bar -->
      <nav class="navbar navbar-expand-md navbar-light">
          <a class="navbar-brand" href=#>Bike Racks</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>  
          </button>
          <div class="navbar-collapse collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ml-auto">
                  <li class="nav-item">
                      <div class="user-container">
                          <div hidden id="user-pic"></div>
                          <div hidden id="user-name"></div>
                          <button class="btn btn-primary navbar-btn" hidden id="sign-out">
                              <span class="sign-text">Sign Out</span>
                          </button>
                          <button class="btn btn-primary navbar-btn" hidden id="sign-in">
                              <span class="sign-text">Sign in with Google</span>
                          </button>
                            
                      </div>
                  </li>
                  <li class="nav-item">
                      <!-- dropdown with options to show pending bike racks,
                           approved bikes, rejected, or all -->
                      <div class="dropdown">
                          
                          <button class="btn btn-secondary dropdown-toggle" type="button"
                                  id="dropdownMenuButton" data-toggle="dropdown"
                                  aria-haspopup="true" aria-expanded="false">
                                  Filter
                          </button>
                            <ul class="dropdown-menu">
                                  <li>
                                    <input id="showApproved" name="showApproved"
                                           class="checkboxes"
                                           type="checkbox" aria-label="Checkbox for showing approved bikeracks">
                                    <label for="showApproved">Approved</label>
                                        
                                        
                                  </li>
                                  <li>
                                    <input id="showNotApproved" name="showNotApproved"
                                           class="checkboxes"
                                           type="checkbox" aria-label="Checkbox for showing not approved bikeracks">
                                    <label for="showNotApproved">Not Approved</label>
                                   
                                  </li>
                                
                            </ul>
                      </div>
                      
                  </li>
                  <li class="nav-item">
                      <button class="btn btn-secondary" data-toggle="modal" data-target="#feedbackModal">Contact</button>
                  </li>
                
              </ul> 
          </div> <!-- /.navbar-collapse -->
      </nav> 
      
      <!-- feedback modal -->
      <div id="feedbackModal" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <p>Please leave comments or suggestions.</p>
              <button id="closeModal" type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              
              <form id="feedbackForm">
                <div class="form-group">
                  <label for="feedback"></label>
                  <textarea name="feedback" maxlength="280" class="form-control" id="feedback" rows="3"></textarea>
                  <div class="invalid-feedback">
                     Feedback limited to 280 characters.
                </div>
                </div>
                <button id="submitFeedback" class="btn btn-primary">Submit</button>
              </form>
              
            </div>
            
            </div>
          </div>
        </div>

      <div class="container"> 
          <div id="mapid"></div>
        
      </div> <!-- /.container -->
      
      <!-- TODO: Add SDKs for Firebase products that you want to use
           https://firebase.google.com/docs/web/setup#config-web-app -->
           
      <!-- Insert these scripts at the bottom of the HTML, but before you use any Firebase services -->

      <!-- Firebase App (the core Firebase SDK) is always required and must be listed first -->
      <script src="https://www.gstatic.com/firebasejs/6.4.2/firebase-app.js"></script>

      <!-- Add Firebase products that you want to use -->
      <script src="https://www.gstatic.com/firebasejs/6.4.2/firebase-auth.js"></script>
      <script src="https://www.gstatic.com/firebasejs/6.4.2/firebase-firestore.js"></script>
      
      <script src="https://cdn.firebase.com/libs/firebaseui/3.5.2/firebaseui.js"></script>
      <link type="text/css" rel="stylesheet" href="https://cdn.firebase.com/libs/firebaseui/3.5.2/firebaseui.css" />
      
      <script type="text/javascript">
        
        // Your web app's Firebase configuration
        var firebaseConfig = { 
              apiKey: "AIzaSyByx-7sYf-uMpmlEqUHu4toihnhUX-8_-8",
              authDomain: "bikemap-6ad66.firebaseapp.com",
              databaseURL: "https://bikemap-6ad66.firebaseio.com",
              projectId: "bikemap-6ad66",
              storageBucket: "",
              messagingSenderId: "20948153147",
              appId: "1:20948153147:web:0defc83e2fbbb462",
            };
        
        
      </script>
      
      
      
  </body>
  
  <!-- Leaflet marker cluster -->
  <script src="https://unpkg.com/leaflet.markercluster@1.4.1/dist/leaflet.markercluster.js"></script>
  
  <!-- leaflet geo-search JS -->
  <script src="https://unpkg.com/leaflet-geosearch@2.6.0/dist/bundle.min.js"></script>
  
  <!-- leaflet locate JS -->
  <script src="https://cdn.jsdelivr.net/npm/leaflet.locatecontrol/dist/L.Control.Locate.min.js" charset="utf-8"></script>

  
  
  <!-- Awesome Markers JS -->
  <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/1.5.2/css/ionicons.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.min.js"></script>
  
  <!-- Spin JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/spin.js/2.3.2/spin.min.js"></script>
  
  <!-- App's own JS -->
  <script src="dynamic/helpers.js"></script>
  <script src="dynamic/scripts.js"></script> 
  <script src="static/main.js"></script>

  
  
</html>
