#mapid { 
  height: 100vmax;
}

.navbar-light {
  background-color: #e3f2fd;
}
.popup {
  display: flex;
  flex-wrap: wrap;
  min-width: 200px;
  align-items: stretch;
}

#lat, #lng, #coordinateComma {
  display: none;
}

#address {
  flex-grow: 1;
  padding: 2px;
  margin: 2px;
  height: 90px;
  width: 150px;

}

#options {
  display: flex;
  flex-direction: row;
  flex-grow: 0.5;
  height: 50%;
  justify-content: space-between;
}

#submitButton {
  margin-top: 10px;
}

#upvoteCount, #downvoteCount {
  margin: 0 10px;
}


.arrowHover:hover {
  color: #808080;
  cursor: pointer;
}

.voted {
  color: #5fb6f5;
}

.leaflet-bar {
  color: red;
}

@media only screen
and (min-device-width : 320px) 
and (max-device-width : 415px) {

    .leaflet-control-geosearch.bar {
      width: 35vmax;
      float: right;
    }
}


