<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8"/>
    <meta content="initial-scale=1, width=device-width" name="viewport"/>
    
    <!-- Leaflet CSS -->
     <link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css"
           integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
           crossorigin=""/>
    
    <!-- Bootstrap CSS --> 
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/css/bootstrap.min.css" rel="stylesheet"/>
    
    <!-- App's own CSS -->
    <link href="/static/styles.css" rel="stylesheet"/>
    
    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.js"
            integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
            crossorigin="anonymous"></script>
            
    <!-- Leaflet JS -->
    <script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"
            integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg=="
            crossorigin=""></script>
    
    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/js/bootstrap.min.js"></script>
    
  </head>
  
  <body>

      <!-- Navigation Bar -->
      <nav class="navbar navbar-expand-lg navbar-light">
          <a class="navbar-brand" href=#>Bike Racks</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>  
          </button>
          <div class="navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                  <li class="nav-item">
                      <a class="nav-link" id="addMarkerLink" href="#">Add Marker</a>
                  </li>
              </ul>
          </div>
      </nav>
 
      
      <div class="container"> <!-- flexbox container -->
          <div id="mapid"></div>
          
          <div class="card" id="addMarkerCard">
              <img src="..." class="card-img-top" alt="...">
              <div class="card-body">
                  <h5 class ="card-title">Card title</h5>
                  <p class="card-text">Here we will give options
                  for adding a marker.</p>
                  <a href="#" class="btn btn-primary">Add Marker</a>
              </div>
          </div>
      </div>
      
  </body>
  
  <!-- App's own JS -->
  <script src="/static/scripts.js"></script>
  
</html>
