<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8"/>
    <meta content="initial-scale=1, width=device-width" name="viewport"/>
    
    <!-- Leaflet CSS -->
     <link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css"
           integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
           crossorigin=""/>
    
    <!-- Bootstrap CSS --> 
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/css/bootstrap.min.css" rel="stylesheet"/>
    
    <!-- App's own CSS -->
    <link href="../static/styles.css" rel="stylesheet"/>
    
    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.js"
            integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
            crossorigin="anonymous"></script>
            
    <!-- Leaflet JS -->
    <script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"
            integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg=="
            crossorigin=""></script>
    
    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/js/bootstrap.bundle.js"></script>
    
    <!-- Font Awesome CSS -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    
    <!-- Awesome Markers CSS -->
    <link rel="stylesheet" href="../static/dist/leaflet.awesome-markers.css">
    

    
  </head>
  
  <body>

      <!-- Navigation Bar -->
      <nav class="navbar navbar-expand-md navbar-light">
          <a class="navbar-brand" href=#>Bike Racks</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>  
          </button>
          <div class="navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ml-auto">

                  <li class="nav-item">
                      <!-- dropdown with options to show pending bike racks,
                           approved bikes, rejected, or all -->
                      <div class="dropdown">
                          <button class="btn btn-secondary dropdown-toggle" type="button"
                                  id="dropdownMenuButton" data-toggle="dropdown"
                                  aria-haspopup="true" aria-expanded="false">
                                  Show Racks
                          </button>
                            <div class="dropdown-menu">
                                <a id="showPending" class="onmap dropdown-item" href="#">Pending</a>
                                <a id="showApproved" class="onmap dropdown-item" href="#">Approved</a>
                                <a id="showRejected" class="onmap dropdown-item" href="#">Rejected</a>
                            </div>
                      </div>
                      
                  </li>
                
              </ul> 
              <!-- address search bar 
              <form id="search" class="form-inline my-2 my-lg-0">
                  <input id="search" class="form-control mr-sm-2" type="search" placeholder="Type in an address" aria-label="Search">
                  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
              </form> -->
          </div> <!-- /.navbar-collapse -->
      </nav> 

      <div class="container"> 
          <div id="mapid"></div>
        
      </div> <!-- /.container -->
      
  </body>
  
  <!-- leaflet geo-search  -->
  
  <script src="../static/deps/leaflet-geosearch/dist/bundle.min.js"></script>
  <link href="https://unpkg.com/leaflet-geosearch@2.6.0/assets/css/leaflet.css" rel="stylesheet"/>
  <!--<link href="../static/deps/leaflet-geosearch/dist/style.css" rel="stylesheet"/> -->
  
  <!--
  <script src="https://cdn.jsdelivr.net/npm/leaflet-geosearch@2.7.0/dist/bundle.js"></script>
  -->
  
  <!-- Awesome Markers JS -->
  <script src="https://unpkg.com/ionicons@4.5.5/dist/ionicons.js"></script>
  <script src="../static/dist/leaflet.awesome-markers.js"></script>
  
  <!-- Spin JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/spin.js/2.3.2/spin.js"
  integrity="sha256-GySbz3oZXNlwoawo5PpYy0iM38B+q3jyi/HLw00uxy0=" crossorigin="anonymous"></script>
  
  <!-- App's own JS -->
  <script src="../dynamic/scripts.js"></script> 
  

  
  
</html>
